<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>방만들기</title>
</head>
<body>
    <form action="/room" method="post">
        <input type="text" name="title" placeholder="방 제목">
        <input type="text" name="password" placeholder="방 종류">
        <input type="text" name="count" placeholder="방 허용 인원">
        <button type="submit">방 생성하기</button>
    </form>
</body>
</html>