<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GIF 채팅방</title>
</head>
<body>
<div>
    <table id="adds">
        
    </table>
    <from>
        <input id="a" placeholder="서버로 문자 보내기">
        <button type="submit" id="b"> 문자 보내기</button>
    </from>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:8005', {
        path: '/socket.io',
        transports: ['websocket'],
    });
    socket.on('news',function (data) {
        console.log('서버로 부터 받은 데이터 : ',data);
        var newTr = document.createElement("tr");

        // <td> 태그를 생성합니다.
        var newTd = document.createElement("td");

        // <td> 태그에 내용을 추가할 수도 있습니다.
        newTd.textContent = data

        // <tr> 태그에 새로 생성한 <td> 태그를 추가합니다.
        newTr.appendChild(newTd);

        // <table> 태그를 찾아서 가져옵니다.
        var tableElement = document.getElementById("adds");

        // <table> 태그에 새로 생성한 <tr> 태그를 추가합니다.
        tableElement.appendChild(newTr);
    });
    document.getElementById('b').addEventListener('click',(e)=>{
        e.preventDefault()
        const message = document.getElementById('a').value
        socket.emit('reply',message);
    })
</script>
</body>
</html>