<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>GIF 채팅방</title>
</head>
<body>
<div>
    <table id="adds">
        
    </table>
    <from>
        <input id="a" placeholder="서버로 문자 보내기">
        <button type="submit" id="b"> 문자 보내기</button>
    </from>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
    const socket = io.connect('http://localhost:8005', {
        path: '/socket.io',
        transports: ['websocket'],
    });
    socket.on('news',function (data) {
        const tableElement = document.getElementById("adds");
        tableElement.innerHTML = '';

        data.forEach(element => {
            const message = element.chatting;
            const newTr = document.createElement("tr");
            const newTd = document.createElement("td");

                // 이스케이프 처리하여 XSS 방어
            const textNode = document.createTextNode(message);
            newTd.appendChild(textNode);
            newTr.appendChild(newTd);
            tableElement.appendChild(newTr);
        });
    });
    document.getElementById('b').addEventListener('click',(e)=>{
        e.preventDefault()
        const message = document.getElementById('a').value
        socket.emit('reply',message);
    })
</script>
</body>
</html>